<template>
  <div>

  <div>
    <span>* Seleccione un segmento para crear una cita</span>
    <ModalCita/>
  </div>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      
      <b-form-group id="input-group-2" label="Segmento seleccionado:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.segmento"
          required
        ></b-form-input>
      </b-form-group>
    </b-form>
  <!--
      <b-form-group id="input-group-4">
        <b-form-checkbox-group v-model="form.checked" id="checkboxes-4">
          <b-form-checkbox value="me">Check me out</b-form-checkbox>
          <b-form-checkbox value="that">Check that out</b-form-checkbox>
        </b-form-checkbox-group>
      </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
      <b-button type="reset" variant="danger">Reset</b-button>
    </b-form>
  -->  


  <div id="lista">
    <h3>Citas del documento</h3>
    <b-table striped hover :items="items"></b-table>
  </div>


  <!--
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card>
  -->
  </div>
</template>

<script>

import ModalCita from './ModalCita.vue'

  export default {
     components: {
    ModalCita
  },
    data() {
      return {
      /*
        form: {
          segmento: '',
          food: null,
          checked: []
        },
        foods: [{ text: 'Select One', value: null }, 'Carrots', 'Beans', 'Tomatoes', 'Corn'],
        show: true, 
      */
        items: [
          { segmento: 'Lorem ipsum dolor sit amet consectetur adipiscing', codigo: 'Tecnología' },
          { segmento: 'fames rhoncus netus, sociosqu mi purus platea', codigo: 'Economía' },
          { segmento: 'ridiculus vivamus lobortis congue velit quis nisi placerat', codigo: 'Tecnología' },
          { segmento: 'ullamcorper interdum condimentum consequat placerat', codigo: 'Política' }
        ]
      }
    },
    methods: {
      onSubmit(evt) {
        evt.preventDefault()
        alert(JSON.stringify(this.form))
      },
      onReset(evt) {
        evt.preventDefault()
        // Reset our form values
        this.form.segmento = ''
        this.form.checked = []
        // Trick to reset/clear native browser form validation state
        this.show = false
        this.$nextTick(() => {
          this.show = true
        })
      }
    }

  }
</script>



<style>
  #lista{
    margin-top: 6%;
  }
</style>
