
<template>
<div id="contenido">
  <h2 id="titulo_texto">Nombre del documento</h2>
  <b-form-textarea
    id="texto"
    placeholder="Tall textarea"
    rows="20"
  ></b-form-textarea>

<Citar id="cita"/>
</div>
</template>


<script>

import Citar from './Citar.vue'

export default {
  name: 'Contenido',
  components: {
    Citar
    
  }
}
</script>

<style>
#contenido{
  width: 100%;
}

#texto{
  margin-top: 2%;
  width: 40%;
  margin-left: 2%;
  float: left;
}


 #cita{
  margin-top: 1%;
  float:right;
  width: 50%;
  margin-right: 2%;
}

#titulo_texto{
  padding-right: 60%;
  margin-top: 1%;
 
}

</style>