<template>

<div>
  <!-- Using modifiers 
  <b-button v-b-modal.my-modal>Show Modal</b-button>
  -->

  <!-- Using value -->
  <b-button block variant="success" v-b-modal="'my-modal'">Crear una Cita</b-button>
  <!-- The modal -->
    <b-modal id="my-modal" size="lg" title="Crear Cita">
      
      <b-form-group label-cols="2" label-cols-lg="2" label-size="lg" label="Segmento:" label-for="input-lg">
            <b-form-input id="input-lg" placeholder="Lorem ipsum dolor sit amet consectetur adipiscing" disabled></b-form-input> <br>
             <b-form-select v-model="selected" :options="options"></b-form-select>
      </b-form-group>


    </b-modal>
</div>
</template>


<script>
export default {
  name: 'ModalCita',
data() {
      return {
        selected: null,
        options: [
          { value: null, text: 'Seleccionar un código' },
          { value: 'a', text: 'Tecnologpia' },
          { value: 'b', text: 'Política' },
          { value: { C: '3PO' }, text: 'This is an option with object value' },
          { value: 'd', text: 'This one is disabled', disabled: true }
        ]
      }
    }
    }
</script>
