<template>
  <div id="app">
    <Navbar/>
    <Contenido id="contenido"/>
  </div>
</template>

<script>
import Contenido from './components/Contenido.vue'
import Navbar from './components/Navbar.vue'

import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'


export default {
  name: 'app',
  components: {
    Navbar,
    Contenido
    
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}



</style>
